
@import url('./reset.css');
@import url('./base.css');

/* Layout */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Form */
.form {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-top: 36px;
  padding-bottom: 32px;
}

.form input {
  width: 272px;
  height: 40px;
  padding: 0 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
}

.form input:hover {
  border-color: #000;
}

.form input:focus {
  border-color: #4e75ff;
  box-shadow: 0 0 0 2px rgba(78, 117, 255, 0.2);
}

.form button {
  height: 40px;
  padding: 0 16px;
  border: none;
  border-radius: 8px;
  background: #4e75ff;
  color: #fff;
  cursor: pointer;
}

.form button:hover {
  background: #6c8cff;
}

/* Gallery */
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 360px));
  gap: 24px;
  justify-content: center;
  padding-bottom: 24px;
}

/* Card */
.gallery-item {
  border: 1px solid #808080;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
}

/* Image */
.gallery-image {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Info under image */
.info {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 12px;
  border-top: 1px solid #808080;
}

.info-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin: 0;
}

.info-label {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
}

.info-value {
  font-size: 12px;
  line-height: 1.2;
}

/* Loader  */
.loader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
  margin-top: 8px;
}

.loader-text {
  font-size: 16px;
  color: #2e2f42;
}

.is-hidden {
  display: none;
}


/* === iziToast error === */

.iziToast.iziToast-color-red {
  border-radius: 4px;
  box-shadow: 0 4px 16px rgba(46, 47, 66, 0.2);
  font-family: 'Montserrat', sans-serif;
}

.iziToast.iziToast-color-red .iziToast-message {
  font-size: 16px;
  line-height: 1.5;
  color: #fafafb;

  white-space: normal;
  word-break: break-word;
  max-width: 320px;
}

.iziToast.iziToast-color-red .iziToast-close {
  filter: brightness(0) invert(1);
  opacity: 1;
}

